src/SimpleAccounting/Model/AccountingData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Lukas Grützmacher. All rights reserved. -->
<!--suppress XmlDefaultAttributeValue -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Setup">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Location" type="xs:string" />
              <xs:element name="BookingTemplates" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence minOccurs="1" maxOccurs="unbounded">
                    <xs:element name="Template">
                      <xs:complexType>
                        <xs:attribute name="Text" type="xs:string" use="required" />
                        <xs:attribute name="Value" type="xs:long" use="optional" />
                        <xs:attribute name="Credit" type="xs:unsignedLong" use="optional" />
                        <xs:attribute name="Debit" type="xs:unsignedLong" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Reports" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="AccountJournalReport" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:attribute name="PageBreakBetweenAccounts" type="xs:boolean" default="false" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="TotalsAndBalancesReport" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Signature" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Behavior" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="OpeningTextPattern" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="LastCarryForward" type="xs:unsignedLong" minOccurs="0" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Accounts">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="AccountGroup">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Account" type="AccountDefinition" />
                  </xs:sequence>
                  <xs:attribute name="Name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Years" minOccurs="0">
          <!-- obsolete, merged into journal -->
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Year">
                <xs:complexType>
                  <xs:attribute name="Name" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="DateStart" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="DateEnd" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="Closed" type="xs:boolean" use="optional" default="false" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Journal" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Booking">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Debit" type="BookingValue" minOccurs="1" maxOccurs="unbounded" />
                    <xs:element name="Credit" type="BookingValue" minOccurs="1" maxOccurs="unbounded" />
                  </xs:sequence>
                  <xs:attribute name="Date" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="ID" type="xs:unsignedLong" use="required" />
                  <xs:attribute name="Followup" type="xs:boolean" use="optional" default="false" />
                  <xs:attribute name="Opening" type="xs:boolean" use="optional" default="false" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Year" type="xs:string" use="required" />
            <xs:attribute name="DateStart" type="xs:unsignedInt" use="required" />
            <xs:attribute name="DateEnd" type="xs:unsignedInt" use="required" />
            <xs:attribute name="Closed" type="xs:boolean" use="optional" default="false" />
          </xs:complexType>
        </xs:element>
        <xs:element name="OpenIssues" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Entry" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="Year" type="xs:string" use="required" />
                  <xs:attribute name="Date" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="ID" type="xs:unsignedLong" use="required" />
                  <xs:attribute name="Value" type="xs:long" use="required" />
                  <xs:attribute name="Account" type="xs:unsignedLong" use="required" />
                  <xs:attribute name="Text" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AccountDefinition">
    <xs:sequence>
      <xs:element name="ImportMapping" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Columns" minOccurs="1" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Column" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="Target" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="Date" />
                            <xs:enumeration value="Name" />
                            <xs:enumeration value="Text" />
                            <xs:enumeration value="Value" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="Source" use="required" type="xs:string" />
                      <xs:attribute name="IgnorePattern" type="xs:string" use="optional" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Patterns" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Pattern" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="Expression" type="xs:string" use="required" />
                      <xs:attribute name="Value" type="xs:long" use="optional" />
                      <xs:attribute name="AccountID" type="xs:unsignedLong" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:unsignedLong" use="required" />
    <xs:attribute name="Name" type="xs:string" use="required" />
    <xs:attribute name="Type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Asset" />
          <xs:enumeration value="Income" />
          <xs:enumeration value="Expense" />
          <xs:enumeration value="Credit" />
          <xs:enumeration value="Debit" />
          <xs:enumeration value="Carryforward" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Active" type="xs:boolean" default="true" />
  </xs:complexType>
  <xs:complexType name="BookingValue">
    <xs:attribute name="Value" type="xs:long" use="required" />
    <xs:attribute name="Account" type="xs:unsignedLong" use="required" />
    <xs:attribute name="Text" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>